__pycache__
dist/
.git_local_repo_credentials

# setuptools files
*.egg-info

# temporary csv files
tests/*.csv

# Sphinx documentation
docs/build/

# MacOS
.DS_Store

# pixi environments
.pixi
*.egg-info

# build files
build/